{% extends "base.html" %}
{% block content %}
<h1>Please Register</h1>
<br>
<form class="form-register" role="form" method="post" action="">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="usernameID">Username</label>
        {{ form.username(placeholder="enter username", class="form-control", id="usernameID") }}
        <span class="error">
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        <label for="passwordID">Password</label>
        {{ form.password(placeholder="enter password", class="form-control", id="passwordID") }}
        <span class="error">
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        <label for="confirmID">Confirm Password</label>
        {{ form.confirm(placeholder="enter password again", class="form-control", id="confirmID") }}
        <span class="error">
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <button class="btn btn-sm btn-dark btn-block" type="submit">Register</button>
</form>
<br>
<p>Click <a href="/">here</a> to go home.</p>
{% endblock %}